  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-pink color-white">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              We're ChangeMakers
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- About Intro -->
  <div class="section-block">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p class="text-xlarge weight-bold color-charcoal text-line-vertical lead-font">We are a worker-owned collective. Our projects are guided by communities in their fight for justice and liberation.</p>
      </div>
    </div>
  </div>
  <!-- About Intro End -->

  <!-- Service Section -->

  <section class="section-block replicable-content bkg-charcoal color-white">
    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30">Services</h2>
      </div>
      <div class="column width-8">
        <div class="row flex">
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
              <h5 class="mb-30">RABBLE ROUSING RESEARCH</h5>
              <p>We’ll work with you to design and carry out the research
              you need for high-powered campaigns that get the goods.
              Communities are the experts, and research done right builds
              grassroots power.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="1">
              <h5 class="mb-30">TRANSFORMATIVE MEDIA ORGANIZING</h5>
              <p>Your media, your message, your community. We’ll help you
              plan and implement media organizing work that is transformative,
              participatory, cross-platform, accountable, and grounded in the
              vision and needs of your community.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-threshold="1">
              <h5 class="mb-30">COLLABORATIVE DESIGN</h5>
              <p>Design can be simple. Together, we’ll walk through each
              stage of the design process, including project ideation,
              prototyping, testing, and evaluation.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;" data-threshold="1">
              <h5 class="mb-30">TECHNOLOGY DEVELOPMENT</h5>
              <p>We’ll work with you to understand what technology makes
              the most sense for your community, then build it together.
              We’ve built websites, interactive voice hotlines, mobile tools,
              zines, and more.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-threshold="1">
              <h5 class="mb-30">COMMUNITY BUILDING</h5>
              <p>We believe in Voltron. Our work is better when we work together!
              We organize skill sharing and community building networks and events,
              both face to face and online.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Service Section End -->

  <!-- Team Section Content -->
  <section class="section-block replicable-content no-padding-bottom color-charcoal">
    <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
      <div class="column width-4">
        <h2 class="weight-bold mb-30">Workers / <br>Owners</h2>
      </div>
      <div class="column width-4">
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.</p>
        <p>Adipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      </div>
      <div class="column width-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
      <br>
  <br>
  </section>
  <!-- Team Section Content End -->

  <!-- Team Section 3 Custom -->
  <section class="section-block replicable-content no-padding-top">
    <div class="row horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="0.7">
      <div class="column width-12 slider-column no-padding">
        <div id="team-slider-1" class="tm-slider-container team-slider team-slider-1" data-carousel-visible-slides="3" data-height="500">
          <ul class="tms-slides">
            <li class="tms-slide">
              <div class="team-content">
                <div class="thumbnail no-margin-bottom">
                  <img data-src="<%=asset_path('bex.jpg')%>" src="<%=asset_path('bex.jpg')%>" alt="" width="760" height="400"/>
                </div>
                <div class="team-content-info box large bkg-white">
                  <h5 class="mb-5">Bex Hurwitz</h5>
                  <h6 class="occupation mb-20">Worker / Owner</h6>
                  <p>Bex is a codesigner and maker of media and technology for social justice.</p>
                  <ul class="social-list list-horizontal">
                    <li><a href="https://twitter.com/bxhrz" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="tms-slide">
              <div class="team-content">
                <div class="thumbnail no-margin-bottom">
                  <img data-src="<%=asset_path('chris.jpg')%>" src="<%=asset_path('chris.jpg')%>" alt="" width="760" height="500"/>
                </div>
                <div class="team-content-info box large bkg-white">
                  <h5 class="mb-5">Chris Schweidler</h5>
                  <h6 class="occupation mb-20">Worker / Owner</h6>
                  <p>Chris is a practitioner <!-- & advocate --> of research by & for grassroots-led movements for social justice.</p>
                  <ul class="social-list list-horizontal">
                    <li><a href="https://twitter.com/scrumbly1" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="tms-slide">
              <div class="team-content">
                <div class="thumbnail no-margin-bottom">
                  <img data-src="<%=asset_path('sasha.jpg')%>" src="<%=asset_path('sasha.jpg')%>" alt="" width="760" height="500"/>
                </div>
                <div class="team-content-info box large bkg-white">
                  <h5 class="mb-5">Sasha Costanza-Chock</h5>
                  <h6 class="occupation mb-20">Worker / Owner</h6>
                  <p>Sasha is a scholar, activist, media maker, and troublemaker.</p>
                  <ul class="social-list list-horizontal">
                    <li><a href="https://twitter.com/schock" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section 3 End -->

<!-- Logo Section 1 -->
  <div class="section-block logos-1 bkg-grey-ultralight">
    <div class="row horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;" data-threshold="0.2">
      <div class="column width-4">
        <h2 class="mb-30">Folks We've <br>Worked With</h2>
      </div>
      <div class="column width-8 center">
        <div class="row content-grid-4">
          <div class="grid-item">
            <a href="#">
              <img src="<%=asset_path('mozilla-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="#">
              <img src="<%=asset_path('18mr-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="#">
              <img src="<%=asset_path('bk-library-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="#">
              <img src="<%=asset_path('accessnow-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="#">
              <img src="<%=asset_path('gap-logo.jpg')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="#">
              <img src="<%=asset_path('ellabaker-logo.png')%>" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Logo Section 1 End -->
