  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media window-height tm-slider-parallax-container">

  <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="960">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit>
        <div class="tms-content">
          <div class="tms-content-inner center">
            <div class="row">
              <div class="column width-12">
                <h1 class="tms-caption title-xlarge color-charcoal lspacing-medium"
                  data-animate-in="preset:scaleOut;duration:1000ms;">
                  RAD.CAT
                </h1>
                <div class="division"></div>
                <div class="clear"></div>
                <h3 class="tms-caption font-alt-1 color-charcoal lspacing-xlarge"
                  data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;">
                  A Tech Collective
                </h3>
              </div>
            </div>
          </div>
        </div>
        <img data-src="<%=asset_path('intro.png')%>" >
      </li>
    </ul>
  </div>
</section>
  <!-- Fullscreen Slider Section End -->

  <!-- About Intro -->
  <div id="about" class="section-block">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p class="text-xlarge weight-bold color-charcoal lead-font">Research Action Design <br>uses community-led research, collaborative design of technology and media, and secure digital strategies for grassroots social movements.</p>
        <a href="/about" class="button text-line-vertical">Read More</a>
      </div>
    </div>
  </div>
  <!-- About Intro End -->

  <!-- Team Section Content -->
  <section class="short-top section-block replicable-content no-padding-bottom">
    <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">OUR<br> WORK</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. <a href="/about">Check out more</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. <a href="/about">Check out more</a></p>
      </div>
      <div class="column width-4">
        <div class="pagination-3">
          <ul>
            <li><a class="pagination-next" href="/about"><i class="fa fa-angle-right icon-right-open-mini" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section Content End -->

    <!-- Team Section Content -->
  <section class="short-top section-block replicable-content">
    <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">WILDCATS</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. <a href="/about">Check out more</a></p>
      </div>
      <div class="column width-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. <a href="/about">Check out more</a></p>
      </div>
    </div>
  </section>
  <!-- Team Section Content End -->


  <!-- Portfolio Content -->
  <section class="section-block replicable-content bkg-charcoal">
    <div class="row">
      <div class="column width-6">
        <h2 class="color-white weight-bold mb-30 new-font">HIGHLIGHTS</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-6 color-white">
        <p class="lead">We've worked on some pretty great projects over the past few years.</p>
        <p>Take a look at some of our highlights, or visit our <a href="/projects">projects' page.</a></p>
      </div>
    </div>
  </section>
  <!-- Portfolio Content End -->

  <!-- Portfolio Grid Section -->
  <div class="section-block grid-container fade-in-progressively no-padding-top bkg-charcoal" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
    <div class="row">
      <div class="column width-12">
        <div class="row grid content-grid-3">
          <div class="grid-item grid-sizer identity photography">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="portfolio/distillery.html">
                <img src="<%=asset_path('project1.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">8Threefifty</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="grid-item design photography">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="portfolio/packaging.html">
                <img src="<%=asset_path('project2.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">The Coffee Man</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="grid-item design identity">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="portfolio/barber-shop.html">
                <img src="<%=asset_path('project3.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Rockabilly</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="grid-item identity">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="portfolio/restaurant.html">
                <img src="<%=asset_path('project4.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Cantina</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="grid-item application">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="portfolio/mobile-app.html">
                <img src="<%=asset_path('project5.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Macaw</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="grid-item design identity">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="portfolio/clothing.html">
                <img src="<%=asset_path('project6.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">CommsLab</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Grid Section End -->

</div>
<!-- Content End -->
