  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient-2">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Collaborators
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Portfolio Grid Section -->
  <div class="section-block grid-container fade-in-progressively no-padding-top bkg-grey color-charcoal" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
    <div class="row">
      <div class="column width-12">
        <div class="row grid content-grid-4">

          <div class="grid-item grid-sizer">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.accessnow.org" target="_blank">
                <img src="<%=asset_path('accessnow-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Access Now</h4>
               <span class="project-description">Project: RightsCon SEA</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://18millionrising.org" target="_blank">
                <img src="<%=asset_path('18mr-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">18 Million Rising</h4>
              <span class="project-description">Project: VoterVox</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.abundance.org" target="_blank">
                <img src="<%=asset_path('abundance-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Abundance Foundation</h4>
              <span class="project-description">Project: Out of Eden Learn</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="www.advancementproject.org" target="_blank">
                <img src="<%=asset_path('advancement-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Advancement Project</h4>
              <span class="project-description">Project: USC Community Needs Assessment</span>
             </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.alliedmedia.org/" target="_blank">
                <img src="<%=asset_path('allied-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Allied Media Projects</h4>
              <span class="project-description">Project: Detroit Music Box</span>
            </div>
          </div>

          <div class="grid-item ">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.apc.org" target="_blank">
                <img src="<%=asset_path('apc-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Association of Progressive Communication</h4>
              <span class="project-description">Project: Security Reboot Curriculum</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.astraeafoundation.org/" target="_blank">
                <img src="<%=asset_path('astraea-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Astraea Foundation</h4>
              <span class="project-description">Project: Kenya & South Africa CommsLabs, Annual Report 2014</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.blackandpink.org/" target="_blank">
                <img src="<%=asset_path('blackpink-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Black and Pink</h4>
              <span class="project-description">Project: Coming Out of Concrete Closets: A Report on Black & Pink's National LGBTQ Prisoner Survey</span>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Grid Section End -->
