  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-charcoal lspacing-xlarge horizon"
                      data-animate-in="preset:slideInRightShort;duration:1000ms;">
                      Collaborators
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('bkg2.png')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Client Section Custom -->
  <div class="section-block clients-1 replicable-content">
    <div class="row flex">
      <div class="column width-12">
        <div class="row content-grid-5 flex">

          <div class="grid-item">
            <h4 class="client-name">18 Million Rising</h4>
            <span class="text-small">Project: VoterVox</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Abundance Foundation</h4>
            <span class="text-small">Project: Out of Eden Learn</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Advancement Project</h4>
            <span class="text-small">Project: USC Community Needs Assessment</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Allied Media Projects</h4>
            <span class="text-small">Project: Detroit Music Box</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Association of Progressive Communication</h4>
            <span class="text-small">Project: Security Reboot Curriculum</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Astraea Foundation</h4>
            <span class="text-small">Project: Kenya & South Africa CommsLabs; Project: Annual Report 2014</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Black and Pink</h4>
            <span class="text-small">Project: Coming Out of Concrete Closets: A Report on Black & Pink's National LGBTQ Prisoner Survey</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">BreakOUT! & Congreso (New Orleans Workers’ Center for Racial Justice)</h4>
            <span class="text-small">Project: Vice to Ice, Transformative Media Organizing Project</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Brooklyn Public Library</h4>
            <span class="text-small">Project: Digital Privacy & Data Literacy</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">California Pan-Ethnic Health Network</h4>
            <span class="text-small">Project: Health Policy Research & Report</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Code for America & New America Foundation</h4>
            <span class="text-small">Project: Public Interest Technology Baseline</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">El Centro de los Derechos del Migrante</h4>
            <span class="text-small">Project: Justice in Recruitment, Contratados.org </span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Ella Baker Center</h4>
            <span class="text-small">Project: Who Pays? The True Cost of Mass Incarceration on Families</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">EngageMedia Collective Inc, global</h4>
            <span class="text-small">project: Video4Change Guides, RightsCon SEA</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Ford Foundation & MIT Center for Civic Media</h4>
            <span class="text-small">Project: Out for Change: Transmedia Organizing Project & Research Report</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Ford Foundation</h4>
            <span class="text-small">Project: Transmedia Organizing Project </span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Forward Together</h4>
            <span class="text-small">Project: Who Pays? The True Cost of Mass Incarceration on Families</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Grassroots Institute for Fundraising Training</h4>
            <span class="text-small">Project: Grassroots Fundraising in Immigrant Communities of California, Strengths & Challenges Research</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Garment Workers Center & UCLA Labor Center</h4>
            <span class="text-small">Project: Hanging by a Thread! Los Angeles Garment Workers’ Struggle to Access Quality Care for their Children Report</span>
            <span class="text-small">Project: Building a Vibrant Garment Industry in Los Angeles Research</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Global Action Project</h4>
            <span class="text-small">Project: Media in Action: Media & Youth Organizing National Fieldscan Report</span>
            <span class="text-small">Project: Media History Timeline</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Instituto de Educación Popular del Sur de CA</h4>
            <span class="text-small">Project: VozMob.net, Vojo.co</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Institut Media Etnica</h4>
            <span class="text-small">Project: Vojo Brasil</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Kaiser Permanente Community Benefit</h4>
            <span class="text-small">Project: Southern California Community Health Needs Assessments</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Mozilla Foundation</h4>
            <span class="text-small">Project: NYC Hive Strategy</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">National Council on Occupational Safety & Health</h4>
            <span class="text-small">Project: Worker Fatality Database</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Nollie Jenkins Family Center</h4>
            <span class="text-small">Project: 180 Degrees of the South, Transformative Media Organizing Project</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Project South</h4>
            <span class="text-small">Project: Movement History Timeline, Transformative Media Organizing Project</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">SNaP Coalition</h4>
            <span class="text-small">Project: SNaP Coalition campaign site, Transformative Media Organizing Project</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Strategic Concepts in Organizing & Policy Education</h4>
            <span class="text-small">Project: Power Mapping</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">Two-Spirit Journal</h4>
            <span class="text-small">Project: Two-Spirit Journal, Transformative Media Organizing Project</span>
          </div>
          <div class="grid-item">
            <h4 class="client-name">UCLA Labor Center</h4>
            <span class="text-small">Project: Re:Work Radio & Vojo.co</span>
          </div>


        </div>
      </div>


    </div>
  </div>
  <!-- Client Section Custom End -->




<!-- if we want logos -->
  <!-- Portfolio Grid Section
  <div class="section-block grid-container fade-in-progressively no-padding-top bkg-grey color-charcoal" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
    <div class="row">
      <div class="column width-12">
        <div class="row grid content-grid-4">

          <div class="grid-item grid-sizer">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.accessnow.org" target="_blank">
                <img src="<%=asset_path('accessnow-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Access Now</h4>
               <span class="project-description">Project: RightsCon SEA</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://18millionrising.org" target="_blank">
                <img src="<%=asset_path('18mr-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">18 Million Rising</h4>
              <span class="project-description">Project: VoterVox</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.abundance.org" target="_blank">
                <img src="<%=asset_path('abundance-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Abundance Foundation</h4>
              <span class="project-description">Project: Out of Eden Learn</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="www.advancementproject.org" target="_blank">
                <img src="<%=asset_path('advancement-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Advancement Project</h4>
              <span class="project-description">Project: USC Community Needs Assessment</span>
             </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.alliedmedia.org/" target="_blank">
                <img src="<%=asset_path('allied-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Allied Media Projects</h4>
              <span class="project-description">Project: Detroit Music Box</span>
            </div>
          </div>

          <div class="grid-item ">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.apc.org" target="_blank">
                <img src="<%=asset_path('apc-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Association of Progressive Communication</h4>
              <span class="project-description">Project: Security Reboot Curriculum</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.astraeafoundation.org/" target="_blank">
                <img src="<%=asset_path('astraea-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Astraea Foundation</h4>
              <span class="project-description">Project: Kenya & South Africa CommsLabs, Annual Report 2014</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.blackandpink.org/" target="_blank">
                <img src="<%=asset_path('blackpink-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Black and Pink</h4>
              <span class="project-description">Project: Coming Out of Concrete Closets: A Report on Black & Pink's National LGBTQ Prisoner Survey</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://nowcrj.org/" target="_blank">
                <img src="<%=asset_path('congreso-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">BreakOUT! & Congreso (New Orleans Workers’ Center for Racial Justice)</h4>
              <span class="project-description">Project: Vice to Ice, Transformative Media Organizing Project</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.blackandpink.org/" target="_blank">
                <img src="<%=asset_path('bk-library-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Brooklyn Public Library</h4>
              <span class="project-description">Project: Digital Privacy & Data Literacy</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://cpehn.org/" target="_blank">
                <img src="<%=asset_path('cali-health-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">California Pan-Ethnic Health Network</h4>
              <span class="project-description">Project: Coming Out of Concrete Closets: A Report on Black & Pink's National LGBTQ Prisoner Survey</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
   Portfolio Grid Section End -->
