  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media window-height tm-slider-parallax-container">

  <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="960">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit>
        <div class="tms-content">
          <div class="tms-content-inner center">
            <div class="row">
              <div class="column width-12">
                <h1 class="tms-caption title-xlarge color-charcoal lspacing-medium"
                  data-animate-in="preset:scaleOut;duration:1000ms;">
                  Research Action Design
                </h1>
                <div class="division"></div>
                <div class="clear"></div>
<!--                 <h3 class="tms-caption font-alt-1 color-charcoal lspacing-xlarge"
                  data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;">
                  A Tech Collective
                </h3> -->
              </div>
            </div>
          </div>
        </div>
        <img data-src="<%=asset_path('intro.png')%>" >
      </li>
    </ul>
  </div>
</section>
  <!-- Fullscreen Slider Section End -->

  <!-- About Intro -->
  <div id="about" class="section-block bkg-red">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p class="text-xlarge weight-bold color-white lead-font text-line-vertical">Research Action Design (RAD) <br> uses community-led research, collaborative design of technology and media, and secure digital strategies to build the power of grassroots social movements.</p>
      </div>
    </div>
  </div>
  <!-- About Intro End -->

  <!-- Service Section -->
  <section class="section-block replicable-content bkg-grey color-charcoal">
    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">WHAT WE DO</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-8">
        <div class="row flex">
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
              <h5 class="mb-30">RABBLE ROUSING RESEARCH</h5>
              <p>We’ll work with you to design and carry out the
              research you need for high-powered campaigns that get the goods.
              Communities are the experts, and research done right builds grassroots
              power. Community ­led research can include designing mixed methods research,
              developing research ­related technology, curriculum development and community
              researcher training, data collection and analysis, and writing and communication
              of research for unique audiences.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="1">
              <h5 class="mb-30">COLLABORATIVE DESIGN OF TECHNOLOGY AND MEDIA</h5>
              <p>We’ll work with you to collaboratively plan, design and build technology
              and media grounded in the vision and needs of your community. Together,
              we’ll walk through each stage of the user-centered and participatory
              design process, including project ideation, prototyping, testing, and
              evaluation. RAD builds websites, databases, mobile tools, zines, curriculum,
              interactive reports and more. </p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-threshold="1">
              <h5 class="mb-30">SECURE DIGITAL STRATEGIES</h5>
              <p>We’ll work with you to collectively assess your digital security
              needs and strengths, design and implement more secure digital strategies
              into your current organizing strategies. We develop and facilitate practical
              digital security trainings for individuals and trainers. We collaborate to advance
              safety, self-expression, agency and to resist surveillance.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;" data-threshold="1">
              <h5 class="mb-30">MOVEMENT BUILDING</h5>
              <p>We believe in collaboration. Our work is better when we work together!
              We organize skill sharing and community building networks and events,
              both face to face and online.</p>
            </div>
          </div>

<!-- delete this section after checking it looks ok live -->
<!--           <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-threshold="1">
              <h5 class="mb-30">COMMUNITY BUILDING</h5>
              <p>We believe in Voltron. Our work is better when we work together!
              We organize skill sharing and community building networks and events,
              both face to face and online.</p>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </section>
  <!-- Service Section End -->

  <!-- About Intro -->
  <div class="section-block bkg-red more-padding-bottom">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p class="text-xlarge weight-bold color-white text-line-vertical lead-font">We are a worker-owned collective. Our projects are grounded in the needs and leadership of communities in the struggle for justice and liberation.</p>
      </div>
    </div>
  </div>
  <!-- About Intro End -->

  <!-- Portfolio Content -->
  <section class="section-block replicable-content bkg-grey color-charcoal">
    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">HIGHLIGHTS</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-8">
        <p class="lead">Here are a few examples of the kinds of projects we work on!</p>
        <p>Check out our <a href="/projects">Projects page</a> to see more of our work.</p>
      </div>
    </div>
  </section>
  <!-- Portfolio Content End -->

  <!-- Portfolio Grid Section -->
  <div class="section-block grid-container fade-in-progressively no-padding-top bkg-grey color-charcoal" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
    <div class="row">
      <div class="column width-12">
        <div class="row grid content-grid-3">
          <div class="grid-item grid-sizer">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/projects/technology-for-social-good-research">
                <img src="<%=asset_path('project1.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Technology For Social Justice Field Scan</h4>
<!--               <span class="project-description">Marketing / Identity</span> -->
            </div>
          </div>
          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/projects/ftx-safety-reboot">
                <img src="<%=asset_path('project2.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">The FTX: Safety Reboot</h4>
<!--               <span class="project-description">Identity / Packaging</span> -->
            </div>
          </div>
          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/projects/votervox">
                <img src="<%=asset_path('project4.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">VoterVox</h4>
<!--               <span class="project-description">Identity</span> -->
            </div>
          </div>
          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/projects/worker-fatality-database">
                <img src="<%=asset_path('project24.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Worker Fatality Database</h4><!--
              <span class="project-description">Identity / Marketing</span>
 -->            </div>
          </div>
          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/projects/digital-privacy-data-literacy">
                <img src="<%=asset_path('project6.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Digital Privacy & Literacy</h4>
<!--               <span class="project-description">App Development</span> -->
            </div>
          </div>
          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/projects/garment-workers">
                <img src="<%=asset_path('project9.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Hanging by a Thread</h4>
<!--               <span class="project-description">Identity / Concept</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center read-more-button">
      <a href="/projects" class="button button-red text-line-vertical-dark color-white color-hover-white">Projects</a>
    </div>
  </div>
  <!-- Portfolio Grid Section End -->

  <!-- Logo Section 1 -->
  <div class="section-block logos-1 bkg-grey">
    <div class="row horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;" data-threshold="0.2">
      <div class="column width-4">
        <h2 class="mb-30 new-font">OUR<br>PARTNERS</h2>
        <div class="short-division"></div>
        <h5><a href="/collaborators">View More</a></h5>
      </div>
      <div class="column width-8 center">
        <div class="row content-grid-4">
          <div class="grid-item">
            <a href="https://www.mozilla.org" target="_blank">
              <img src="<%=asset_path('mozilla-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="http://nowcrj.org/" target="_blank">
              <img src="<%=asset_path('congreso-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://www.bklynlibrary.org/" target="_blank">
              <img src="<%=asset_path('bk-library-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://www.accessnow.org/" target="_blank">
              <img src="<%=asset_path('accessnow-logo.png')%>" alt=""/>
            </a>
          </div>
        </div>
      </div>

<!-- adding an empty div box-sizing  -->
      <div class="column width-4">
        <h2 class="mb-30"></h2>
      </div> <!--- end -->
      <div class="column width-8 center">
        <div class="row content-grid-4">
          <div class="grid-item">
            <a href="http://forwardtogether.org/" target="_blank">
              <img src="<%=asset_path('fwdtogether-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="http://ellabakercenter.org/" target="_blank">
              <img src="<%=asset_path('ellabaker-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="http://www.advancementproject.org/" target="_blank">
              <img src="<%=asset_path('advancement-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://www.apc.org" target="_blank">
              <img src="<%=asset_path('apc-logo.png')%>" alt=""/>
            </a>
          </div>
        </div>
      </div>

<!-- adding an empty div box-sizing  -->
      <div class="column width-4">
        <h2 class="mb-30"></h2>
      </div> <!--- end -->
      <div class="column width-8 center">
        <div class="row content-grid-4">
          <div class="grid-item">
            <a href="https://www.global-action.org/" target="_blank">
              <img src="<%=asset_path('gap-logo.jpg')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://projectsouth.org/" target="_blank">
              <img src="<%=asset_path('projectsouth-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://cpehn.org/" target="_blank">
              <img src="<%=asset_path('cali-health-logo.png')%>" alt=""/>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://18millionrising.org/" target="_blank">
              <img src="<%=asset_path('18mr-logo.png')%>" alt=""/>
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- Logo Section 1 End -->

    <!-- Call to Action Section 2 -->
  <div class="section-block call-to-action-2 bkg-red">
    <div class="row">
      <div class="column width-10 offset-1 center center-on-mobile">
        <div class="call-to-action-content">
          <div class="call-to-action-content-inner">
            <div class="horizon" data-animate-in="preset:slideInRightLong;duration:1000ms;">
              <a href="/contact" class="button medium bkg-white color-hover-white">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action Section 2 End -->


</div>
<!-- Content End -->
