<!-- Intro Title Section 1 -->
<div class="section-block intro-title-1 bkg-gradient">
  <div class="row">
    <div class="column width-12">
      <div class="title-container">
        <div class="title-container-inner center">
          <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
            Our Team
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Title Section 1 End -->

  <!-- Team Section Content -->
  <section class="section-block replicable-content no-padding-bottom color-charcoal">
    <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">WORKERS +<br>OWNERS</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-4">
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.</p>
        <p>Adipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      </div>
      <div class="column width-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
      <br>
  <br>
  </section>
  <!-- Team Section Content End -->

    <!-- Team Section 3 Custom -->
  <section class="section-block replicable-content no-padding-top">
    <div class="row horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="0.7">
      <div class="column width-12 slider-column no-padding">
        <div id="team-slider-1" class="tm-slider-container team-slider team-slider-1" data-carousel-visible-slides="3" data-height="500">
          <ul class="tms-slides">
            <li class="tms-slide">
              <div class="team-content">
                <div class="thumbnail no-margin-bottom">
                  <img data-src="<%=asset_path('bex.jpg')%>" src="<%=asset_path('bex.jpg')%>" alt="" width="760" height="400"/>
                </div>
                <div class="team-content-info box large bkg-white">
                  <h5 class="mb-5">Bex Hurwitz</h5>
                  <h6 class="occupation mb-20">Worker / Owner</h6>
                  <p>Bex is a codesigner and maker of media and technology for social justice.</p>
                  <ul class="social-list list-horizontal">
                    <li><a href="https://twitter.com/bxhrz" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="tms-slide">
              <div class="team-content">
                <div class="thumbnail no-margin-bottom">
                  <img data-src="<%=asset_path('chris.jpg')%>" src="<%=asset_path('chris.jpg')%>" alt="" width="760" height="500"/>
                </div>
                <div class="team-content-info box large bkg-white">
                  <h5 class="mb-5">Chris Schweidler</h5>
                  <h6 class="occupation mb-20">Worker / Owner</h6>
                  <p>Chris is a practitioner of research by & for grassroots-led movements for social justice.</p>
                  <ul class="social-list list-horizontal">
                    <li><a href="https://twitter.com/scrumbly1" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="tms-slide">
              <div class="team-content">
                <div class="thumbnail no-margin-bottom">
                  <img data-src="<%=asset_path('wildcat8.jpg')%>" src="<%=asset_path('wildcat8.jpg')%>" alt="" width="760" height="500"/>
                </div>
                <div class="team-content-info box large bkg-white">
                  <h5 class="mb-5">Caroline Rivas</h5>
                  <h6 class="occupation mb-20">Worker / Owner</h6>
                  <p>Connecting practice, research, and policy for social justice.</p>
                  <ul class="social-list list-horizontal">
                    <li><a href="https://twitter.com/schock" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section 3 End -->

  <!-- Team Section Content -->
  <section class="short-top section-block replicable-content bkg-red color-white">
    <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font color-white">WILDCATS</h2>
        <div class="short-division-white"></div>
      </div>
      <div class="column width-6">
        <p class="lead">We work with some pretty rad folks (pun intended?).<br>Check them out.</p>
      </div>
    </div>
  </section>
  <!-- Team Section Content End -->

<!--  original arrow for reading more
    <div class="pagination-3">
      <ul>
        <li><a class="pagination-next" href="/about"><i class="fa fa-angle-right icon-right-open-mini color-white" aria-hidden="true"></i></a></li>
      </ul>
    </div>
 -->

<!-- Portfolio Grid Section -->
<div class="section-block grid-filter-menu no-padding-top no-padding-bottom center">
  <div class="row">
    <div class="column width-12">
      <ul>
        <li><a class="active" href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter=".security">Digital Security</a></li>
        <li><a href="#" data-filter=".contratados">Contratados</a></li>
        <li><a href="#" data-filter=".dldp">DLDP</a></li>
        <li><a href="#" data-filter=".octop">OCTOP</a></li>
        <li><a href="#" data-filter=".gap">GAP</a></li>
        <li><a href="#" data-filter=".tce">TCE</a></li>
        <li><a href="#" data-filter=".ourmaps">OURMAPS</a></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
</div>
<div class="section-block grid-container fade-in-progressively full-width no-padding-top" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
  <div class="row">
    <div class="column width-12">
      <div class="row grid content-grid-4">

        <div class="grid-item grid-sizer security">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat1.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Sarah Aoun</h3>
            <span class="project-description italic">Digital Security Wildcat</span>
            <a href="https://twitter.com/sa0un" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Sarah is a data activist with a focus on tech and human rights.
            She is a programmer, a current fellow with the Internet Freedom Festival,
            and a trainer in data-driven storytelling, ethical data, and data privacy.</p>
          </div>
        </div>

        <div class="grid-item security">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat2.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Ryan Gerety</h3>
            <span class="project-description italic">Digital Security Wildcat</span>
            <a href="" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Ryan is a researcher, trainer and programmer based in Washington DC.
            She partners with organizers and community groups using data and technology
            to address social justice issues in their communities.</p>
          </div>
        </div>

        <div class="grid-item security">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat3.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Tara Adiseshan</h3>
            <span class="project-description italic">Digital Security Wildcat</span>
            <a href="https://twitter.com/taraadiseshan" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Tara is a programmer, designer, and digital security trainer
            who enjoys thinking and building at intersections.</p>
            <br>
          </div>
        </div>

        <div class="grid-item contratados">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat4.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Andalusia Knoll</h3>
            <span class="project-description italic">Contratados Wildcat</span>
            <a href="https://twitter.com/andalalucha" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Andalusia is a multimedia journalist, printmaker, bicycle
            mechanic & DJ who aspires to connect social struggles across
            radio waves, dance floors & printing presses. Read more at
            <a href="andalalucha.tumblr.com" target="_blank">andalalucha.tumblr.com</a>.</p>
          </div>
        </div>
<!--  -->
        <div class="grid-item">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat8.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Caroline Rivas</h3>
            <span class="project-description italic">GIFT, CPEHN, CHNA Wildcat</span>
            <p>Collaborative Partner: Connecting practice, research,
            and policy for social justice.</p>
            <br>
            <br>
          </div>
        </div>

        <div class="grid-item security">
          <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="800" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="<%=asset_path('wildcat6.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Arlene Ducao</h3>
            <span class="project-description italic">Digital Security Wildcat</span>
            <p>Arlene Ducao makes technologies that examine the relationship between
            the natural landscape, our built environments, and ourselves. She is a
            chief at DuKode/DuKorp and inventor of MindRider, the mind-mapping helmet system.</p>
          </div>
        </div>

        <div class="grid-item dldp">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat7.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Austin Guest</h3>
            <span class="project-description italic">DLDP Wildcat</span>
            <p>Austin writes code to tear down power and build up movements.
            He is co-founder of The LearningCollective and lead developer of
            where@, a secure location-sharing app made by and for activists.</p>
          </div>
        </div>

        <div class="grid-item">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat5.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Anjum Mubarak Asharia</h3>
            <span class="project-description italic">Contratados Wildcat</span>
            <a href="https://twitter.com/yzplz" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Anjum is a media maker at the intersection of public art & social justice.
            Check out <a href="anjumasharia.com" target="_blank">anjumasharia.com</a></p>
          </div>
        </div>
<!--  -->
        <div class="grid-item contratados">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat9.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Aylwin Lo</h3>
            <span class="project-description italic">Contratados Wildcat</span>
            <a href="https://twitter.com/aylwinlo" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Aylwin provides creative technology, user experience design,
            and motion graphics expertise to filmmakers, artists, and
            non-profit organizations. More at <a href="aylwinlo.ca" target="_blank">aylwinlo.ca</a></p>
          </div>
        </div>

        <div class="grid-item mht">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat10.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Charlie DeTar</h3>
            <span class="project-description italic">MHT Wildcat</span>
            <p>Charlie DeTar is a freelance web developer, activist,
            wilderness devotee and creator of problematic technologies
            living in Montana. Read more at <a href="tirl.org" target="_blank">tirl.org</a></p>
          </div>
        </div>

        <div class="grid-item octop">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat11.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Design Action Collective</h3>
            <span class="project-description italic">OCTOP Wildcat</span>
            <p>Design Action is a worker-owned cooperative providing graphic
            design and web development for progressive, non-profit and social
            change organizations. Read more at <a href="designaction.org" target="_blank"></a>designaction.org</p>
          </div>
        </div>

        <div class="grid-item ">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat12.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Diana Nucero</h3>
            <span class="project-description italic">TMO Wildcat</span>
            <p>Diana has an expertise in engaging multi-generational, diverse
            communities in exploring innovative technology solutions.</p>
            <br>
          </div>
        </div>
<!--  -->
        <div class="grid-item dldp">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat13.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Kirin Kanakkanatt</h3>
            <span class="project-description italic">DLDP Wildcat</span>
            <a href="https://twitter.com/irin_rosemary" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Kirin is a community organizer and a trainer. She believes
            in building power through leadership development rooted in healing,
            strategic training and authentic mentorship.</p>
          </div>
        </div>

        <div class="grid-item octop gap astraea">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat14.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Puck Lo</h3>
            <span class="project-description italic">OCTOP GAP ASTRAEA Wildcat</span>
            <p>Puck is a writer, researcher and producer who believes
            that words lead to actions. Read more at <a href="pucklo.com" target="_blank">pucklo.com</a></p>
          <br>
          </div>
        </div>

        <div class="grid-item ">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat15.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Marisa Morán Jahn</h3>
            <span class="project-description italic">Contratados Wildcat</span>
            <a href="https://twitter.com/marisa_jahn" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Marisa is an artist, co-founder of Studio REV-, and instigator of
            The NannyVan and El Bibliobandido (a story-eating, burro-riding bandit).
            More info at <a href="marisajahn.com" target="_blank">marisajahn.com</a></p>
          </div>
        </div>

        <div class="grid-item ourmaps">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat16.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Lize Mogel</h3>
            <span class="project-description italic">OURMAPS Wildcat</span>
            <p>Lize is a counter-cartographer and an interdisciplinary artist.
            Read more at <a href="publicgreen.com" target="_blank">publicgreen.com</a></p>
          <br>
          </div>
        </div>

        <div class="grid-item tce">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat17.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Lucero Herrera</h3>
            <span class="project-description italic">TCE Wildcat</span>
            <p>Lucero is a researcher, urban planner and data enthusiast,
            with a deep-rooted passion for vallenato.</p><br><br>
          </div>
        </div>

        <div class="grid-item tce">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat18.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Mara Ortenburger</h3>
            <span class="project-description italic">TCE Wildcat</span>
            <p>Mara does research for justice, makes media for movements,
            and studies public health.</p>
            <br><br><br>
          </div>
        </div>

        <div class="grid-item vojo">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat19.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Mario Romero Zavala</h3>
            <span class="project-description italic">Vojo Wildcat</span>
            <a href="https://twitter.com/mariorz" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Mario is a hacker and appreciator of data visualisations.
            He creates systems for government accountability, citizen
            coordination and outright subversion. Read more at <a href="romero.fm/blog" target="_blank">romero.fm/blog</a></p>
          </div>
        </div>

        <div class="grid-item ">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat20.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Pascal Emmer</h3>
            <span class="project-description italic">Caring Economy Wildcat</span>
            <p>Pascal is a researcher, writer, and oral historian who believes
            that stories make futures possible.</p><br>
          </div>
        </div>

        <div class="grid-item tce">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat22.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Saba Waheed</h3>
            <span class="project-description italic">TCE Wildcat</span>
            <p>Saba is research director at the UCLA Labor Center,
            interested in ways to research from the ground up, and
            also produces the storytelling show about work, <a href="reworkradio.org" target="_blank">reworkradio.org</a></p>
          </div>
        </div>

        <div class="grid-item ">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat23.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Nat Smith</h3>
            <span class="project-description italic">Radmin Wildcat</span>
            <p>Nat is a black, queer, gender variant anticapitalist bookkeeper
            (it's true, we DO exist!), specializing in radical nonprofits,
            individuals and collectives for over 7 years</p>
          </div>
        </div>

        <div class="grid-item contratados">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat24.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Una Lee</h3>
            <span class="project-description italic">Contratados Wildcat</span>
            <a href="https://twitter.com/lovexjustice" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <p>Una is a designer who works with communities to envision
            and build a more just and beautiful world. She can be found
            at <a href="http://www.unalee.net" target="_blank">http://www.unalee.net</a></p>
          </div>
        </div>

        <div class="grid-item contratados ourmaps">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat25.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Tim Stallmann</h3>
            <span class="project-description italic">Contratados OURMAPS Wildcat</span>
            <p>Tim is a freelance radical cartographer and a founding member of 3Cs: the
            Counter-Cartographies Collective. </p>
          </div>
        </div>

        <div class="grid-item gap">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat26.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h3 class="project-title">Tatiana Lam</h3>
            <span class="project-description italic">GAP Wildcat</span>
            <p>Tatiana Lam is a graphic designer and motion graphics
            animator residing in NYC, specializing in broadcast design
            and social justice campaigns. For more: <a href="tatianalam.com" target="_blank">tatianalam.com</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Portfolio Grid Section End -->
