  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient-2">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Partners
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Service Section -->
  <section class="section-block replicable-content bkg-grey color-charcoal">
    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">OUR<br>APPROACH</h2>
        <div class="short-division"></div>
      </div>
      <div class="column width-8">
        <div class="row flex">
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
              <h5 class="mb-30">COLLABORATIVE</h5>
              <p>We partner with small to large groups, in and outside of the U.S.,
                including grassroots organizations, nonprofits, networks, and foundations,
                to support community led change and movement building. We collaborate across a
                broad range of intersecting issues including health justice, low ­wage worker
                rights, immigrant rights, early care and education justice, racial justice, LGBTQ
              rights and the struggle against criminalization and mass incarceration.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="1">
              <h5 class="mb-30">PARTICIPATORY</h5>
              <p>Our approach is grounded in individuals, families, and directly impacted
                communities as the central actors in articulating problems and designing smart
                solutions for their communities. We work closely with our partners to ensure
                project design, tools, and materials are driven by and culturally appropriate
              for impacted communities.</p>
            </div>
          </div>
          <div class="column width-6">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-threshold="1">
              <h5 class="mb-30">MOVEMENT-CENTERED</h5>
              <p>Building the power of grassroots social movements is central to what we do.
               Partnering with organizers on the ground, we support mobilizing and activating
                communities to lead the system-changes and cultural transformations they
              envision for their own communities.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- Service Section End -->

  <!-- Team Section Content -->
  <section class="short-top section-block replicable-content bkg-red color-white">
    <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font color-white">OUR<br>PARTNERS</h2>
        <div class="short-division-white"></div>
      </div>
      <div class="column width-6">
        <p class="lead">We have collaborated with a variety of different partners.<br>Check them out.</p>
      </div>
    </div>
  </section>
  <!-- Team Section Content End -->

  <!-- Client Section Custom -->
  <div class="section-block clients-1 replicable-content">
    <div class="row flex">
      <div class="column width-12">
        <div class="row content-grid-5 flex">

          <div class="grid-item">
            <h4 class="client-name"><a href="https://18millionrising.org/" class="color-black color-hover-red" target="_blank">18 Million Rising</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://abundancefoundation.org/" class="color-black color-hover-red" target="_blank">Abundance Foundation</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://advancementproject.org/" class="color-black color-hover-red" target="_blank">Advancement Project</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://alliedmedia.org/" class="color-black color-hover-red" target="_blank">Allied Media Projects</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.apc.org/" class="color-black color-hover-red" target="_blank">Association of Progressive Communication</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.astraeafoundation.org/" class="color-black color-hover-red" target="_blank">Astraea Foundation</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://www.blackandpink.org/" class="color-black color-hover-red" target="_blank">Black and Pink</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://www.youthbreakout.org/" class="color-black color-hover-red" target="_blank">BreakOUT!</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.bklynlibrary.org/" class="color-black color-hover-red" target="_blank">Brooklyn Public Library</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://cpehn.org" class="color-black color-hover-red" target="_blank">California Pan-Ethnic Health Network</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.calwellness.org/" class="color-black color-hover-red" target="_blank">The California Wellness Foundation</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.codeforamerica.org/" class="color-black color-hover-red" target="_blank">Code for America</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://nowcrj.org/" class="color-black color-hover-red" target="_blank">Congreso (New Orleans Workers’ Center for Racial Justice)</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://cdmigrante.org/" class="color-black color-hover-red" target="_blank">El Centro de los Derechos del Migrante</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://ellabakercenter.org/" class="color-black color-hover-red" target="_blank">Ella Baker Center</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.engagemedia.org/" class="color-black color-hover-red" target="_blank">EngageMedia Collective Inc, global</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://ncfan.org/" class="color-black color-hover-red" target="_blank">Farmworker Advocacy Network</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.fordfoundation.org/" class="color-black color-hover-red" target="_blank">Ford Foundation</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://forwardtogether.org/" class="color-black color-hover-red" target="_blank">Forward Together</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.gcir.org/" class="color-black color-hover-red" target="_blank">Grantmakers Concerned with Immigrants & Refugees</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.grassrootsfundraising.org/" class="color-black color-hover-red" target="_blank">Grassroots Institute for Fundraising Training</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://garmentworkercenter.org/" class="color-black color-hover-red" target="_blank">Garment Workers Center</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.global-action.org/" class="color-black color-hover-red" target="_blank">Global Action Project</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://www.idepsca.org/" class="color-black color-hover-red" target="_blank">Instituto de Educación Popular del Sur de CA</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://midiaetnica.ning.com/" class="color-black color-hover-red" target="_blank">Institut Media Etnica</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://share.kaiserpermanente.org/" class="color-black color-hover-red" target="_blank">Kaiser Permanente Community Benefit</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://civic.mit.edu/" class="color-black color-hover-red" target="_blank">MIT Center for Civic Media</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.colab.mit.edu/" class="color-black color-hover-red" target="_blank">MIT Co-Lab</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://foundation.mozilla.org/en/" class="color-black color-hover-red" target="_blank">Mozilla Foundation</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://coshnetwork.org/" class="color-black color-hover-red" target="_blank">National Council on Occupational Safety & Health</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.newamerica.org/" class="color-black color-hover-red" target="_blank">New America Foundation</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://nolliejenkinsfamilycenter.org/" class="color-black color-hover-red" target="_blank">Nollie Jenkins Family Center</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://projectsouth.org/" class="color-black color-hover-red" target="_blank">Project South</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://rjactioncenter.org/snap" class="color-black color-hover-red" target="_blank">SNaP Coalition</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="http://scopela.org/" class="color-black color-hover-red" target="_blank">Strategic Concepts in Organizing & Policy Education</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://twospiritjournal.com/" class="color-black color-hover-red" target="_blank">Two-Spirit Journal</a></h4>
          </div>
          <div class="grid-item">
            <h4 class="client-name"><a href="https://www.labor.ucla.edu/" class="color-black color-hover-red" target="_blank">UCLA Labor Center</a></h4>
          </div>


        </div>
      </div>


    </div>
  </div>
  <!-- Client Section Custom End -->

    <!-- Call to Action Section 2 -->
  <div class="section-block call-to-action-2 bkg-red">
    <div class="row">
      <div class="column width-10 offset-1 center center-on-mobile">
        <div class="call-to-action-content">
          <div class="call-to-action-content-inner">
            <div class="horizon" data-animate-in="preset:slideInRightLong;duration:1000ms;">
              <a href="mailto:info@rad.cat" class="button medium bkg-white color-hover-white">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action Section 2 End -->



<!-- if we want logos -->
  <!-- Portfolio Grid Section
  <div class="section-block grid-container fade-in-progressively no-padding-top bkg-grey color-charcoal" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
    <div class="row">
      <div class="column width-12">
        <div class="row grid content-grid-4">

          <div class="grid-item grid-sizer">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.accessnow.org" target="_blank">
                <img src="<%=asset_path('accessnow-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Access Now</h4>
               <span class="project-description">Project: RightsCon SEA</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://18millionrising.org" target="_blank">
                <img src="<%=asset_path('18mr-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">18 Million Rising</h4>
              <span class="project-description">Project: VoterVox</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.abundance.org" target="_blank">
                <img src="<%=asset_path('abundance-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Abundance Foundation</h4>
              <span class="project-description">Project: Out of Eden Learn</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="www.advancementproject.org" target="_blank">
                <img src="<%=asset_path('advancement-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Advancement Project</h4>
              <span class="project-description">Project: USC Community Needs Assessment</span>
             </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.alliedmedia.org/" target="_blank">
                <img src="<%=asset_path('allied-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Allied Media Projects</h4>
              <span class="project-description">Project: Detroit Music Box</span>
            </div>
          </div>

          <div class="grid-item ">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.apc.org" target="_blank">
                <img src="<%=asset_path('apc-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Association of Progressive Communication</h4>
              <span class="project-description">Project: Security Reboot Curriculum</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://www.astraeafoundation.org/" target="_blank">
                <img src="<%=asset_path('astraea-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Astraea Foundation</h4>
              <span class="project-description">Project: Kenya & South Africa CommsLabs, Annual Report 2014</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.blackandpink.org/" target="_blank">
                <img src="<%=asset_path('blackpink-logo.jpg')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Black and Pink</h4>
              <span class="project-description">Project: Coming Out of Concrete Closets: A Report on Black & Pink's National LGBTQ Prisoner Survey</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://nowcrj.org/" target="_blank">
                <img src="<%=asset_path('congreso-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">BreakOUT! & Congreso (New Orleans Workers’ Center for Racial Justice)</h4>
              <span class="project-description">Project: Vice to Ice, Transformative Media Organizing Project</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="http://www.blackandpink.org/" target="_blank">
                <img src="<%=asset_path('bk-library-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">Brooklyn Public Library</h4>
              <span class="project-description">Project: Digital Privacy & Data Literacy</span>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="https://cpehn.org/" target="_blank">
                <img src="<%=asset_path('cali-health-logo.png')%>" alt=""/>
              </a>
            </div>
            <div class="item-description">
              <h4 class="project-title">California Pan-Ethnic Health Network</h4>
              <span class="project-description">Project: Coming Out of Concrete Closets: A Report on Black & Pink's National LGBTQ Prisoner Survey</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
   Portfolio Grid Section End -->
