<!-- Intro Title Section 1 -->
<div class="section-block intro-title-1 bkg-pink color-white">
  <div class="row">
    <div class="column width-12">
      <div class="title-container">
        <div class="title-container-inner center">
          <h1 class="title-xlarge horizon title-font" data-animate-in="preset:slideInRightShort;duration:1000ms;">
            Wildcats
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Title Section 1 End -->

<!-- Portfolio Grid Section -->
<div class="section-block grid-filter-menu no-padding-top center">
  <div class="row">
    <div class="column width-12">
      <ul>
        <li><a class="active" href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter=".design">Design</a></li>
        <li><a href="#" data-filter=".identity">Identity</a></li>
        <li><a href="#" data-filter=".photography">Photograhy</a></li>
        <li><a href="#" data-filter=".application">Applications</a></li>
      </ul>
    </div>
  </div>
  <br>
<br>
</div>
<div class="section-block grid-container fade-in-progressively full-width no-padding-top" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
  <div class="row">
    <div class="column width-12">
      <div class="row grid content-grid-4">

        <div class="grid-item grid-sizer design photography">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat1.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Mocachino</h4>
            <span class="project-description">Identity / Packaging</span>
          </div>
        </div>

        <div class="grid-item identity">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat2.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">The Barbershop</h4>
            <span class="project-description">Identity</span>
          </div>
        </div>

        <div class="grid-item identity">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat3.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Cantina</h4>
            <span class="project-description">Identity / Marketing</span>
          </div>
        </div>

        <div class="grid-item web-design photography">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat4.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Mawcaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item identity">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat5.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Montreal</h4>
            <span class="project-description">Identity / Concept</span>
          </div>
        </div>

        <div class="grid-item design">
          <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="800" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
            <img src="<%=asset_path('wildcat6.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">The Distillery</h4>
            <span class="project-description">Marketing / Identity</span>
          </div>
        </div>

        <div class="grid-item design photography">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat7.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">The Coffee Shop</h4>
            <span class="project-description">Identity / Packaging</span>
          </div>
        </div>

        <div class="grid-item design">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat8.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Rockabilly</h4>
            <span class="project-description">Identity</span>
          </div>
        </div>

        <div class="grid-item design">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat9.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">The Bistro</h4>
            <span class="project-description">Design</span>
          </div>
        </div>

        <div class="grid-item design identity">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat10.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Montreal</h4>
            <span class="project-description">Illustration</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat11.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat12.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat13.png')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat14.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat15.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat16.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat17.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat18.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat19.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat20.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat22.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat23.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat24.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat25.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>

        <div class="grid-item design application">
          <div class="thumbnail">
            <img src="<%=asset_path('wildcat26.jpg')%>" alt=""/>
          </div>
          <div class="item-description">
            <h4 class="project-title">Macaw</h4>
            <span class="project-description">App Development</span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Portfolio Grid Section End -->
