  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient-2">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Projects
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Portfolio Grid Section -->
  <div class="section-block grid-filter-menu no-padding-top no-padding-bottom center">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="active" href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".design">Design</a></li>
          <li><a href="#" data-filter=".research">Research</a></li>
          <li><a href="#" data-filter=".toolkit">Toolkits & Workshops</a></li>
          <li><a href="#" data-filter=".movement-building">Movement Building</a></li>
          <li><a href="#" data-filter=".media">Media & Tech</a></li>
          <li><a href="#" data-filter=".security">Security</a></li>
        </ul>
      </div>
    </div>
  <br>
  <br>
  </div>
  <div class="section-block grid-container fade-in-progressively full-width no-padding-top padding-bottom" data-layout-mode="masonry" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0">
    <div class="row">
      <div class="column width-12">
        <div class="row grid content-grid-4">

          <div class="grid-item large research">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/technology-for-social-good-research">
                <img src="<%=asset_path('project1.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Technology for Social Justice Field Scan</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item design">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/contratados">
                <img src="<%=asset_path('project13.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Contratados</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item toolkit">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/ftx-safety-reboot">
                <img src="<%=asset_path('project2.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">The FTX: Safety Reboot</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item toolkit">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/rightscon-2015">
                <img src="<%=asset_path('project16.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">RightsCon Southeast Asia, Manila 2015</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item portrait research">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/who-pays">
                <img src="<%=asset_path('project5.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Who Pays? The True Cost of Incarceration</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item design">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/votervox">
                <img src="<%=asset_path('project4.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">VoterVOX</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item design">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/worker-fatality-database">
                <img src="<%=asset_path('project3.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Worker Fatality Database</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item toolkit">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/digital-privacy-data-literacy">
                <img src="<%=asset_path('project6.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Digital Privacy & Literacy</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item large toolkit">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/commslabs">
                <img src="<%=asset_path('project10.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">CommsLabs</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item photography">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/vojo-brasil">
                <img src="<%=asset_path('project12.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Vojo Brasil</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item research">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/garment-workers">
                <img src="<%=asset_path('project9.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Hanging by a Thread</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item portrait research">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="/panda-security-squad">
                <img src="<%=asset_path('health-equity.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Cultivating Health Equity In California</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item research media security movement-building">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/media-in-action">
                <img src="<%=asset_path('project7.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Media in Action</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item research">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/fundraising-and-movement-building-research">
                <img src="<%=asset_path('project8.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Resourcing and Sustaining our Movements</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item design">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/media-history-timeline">
                <img src="<%=asset_path('project11.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Media History Timeline</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item large design">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/out-for-change">
                <img src="<%=asset_path('project15.jpg')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Transformative Media Organizing (OCTOP)</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item research media movement-building">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/transformative-media-organizing">
                <img src="<%=asset_path('project14.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Transformative Media Organizing Project (TMO)</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item security toolkit">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/stronger-communities">
                <img src="<%=asset_path('project19.jpg')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Stronger NYC Communities</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/kaiser-permanente">
                <img src="<%=asset_path('project18.jpg')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Kaiser Permanente Community Health Needs Assessment</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item large design">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/out-for-change">
                <img src="<%=asset_path('project15.jpg')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Transformative Media Organizing (OCTOP)</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item research movement-building">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/media-history-timeline">
                <img src="<%=asset_path('project11.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Essie women and Mass Incarceration</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="grid-item research">
            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <a class="overlay-link" href="projects/media-history-timeline">
                <img src="<%=asset_path('mental-health.png')%>" alt=""/>
                <span class="overlay-info">
                  <span>
                    <span>
                      <span class="project-title">Advancing Mental Health Equity</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Grid Section End -->

</div>
<!-- Content End -->
