<!DOCTYPE html>
<html>
  <head>
    <title>RAD | Research Action Design</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|CLato:300,400,700' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Crimson+Text:600|Oswald|Ubuntu+Condensed" rel="stylesheet">

  </head>

  <body>
    <%= render "home/navbar" %>
    <%= yield %>
  </body>
</html>
