<!DOCTYPE html>
<html>
  <head>
    <title>RAD | Research Action Design</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|CLato:300,400,700' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Crimson+Text:600|Oswald|Ubuntu+Condensed" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>
    <div class="wrapper reveal-side-navigation">
      <div class="wrapper-inner">
        <%= render partial: "home/navbar", locals: { navbar_class: navbar_classes, logo_text_class: content_for(:logo_text_class)} %>
        <%= yield %>
      </div>
    </div>

    <%= render partial: "home/overlay-menu" %>
  </body>
</html>
